#body1{
    background-size: cover;
    background-position: center;
    font-size: 14;
}

canvas
{
    border:2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
} 

#header5{
    color: blue;
}

.copy_right_footer
{
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}

.text1{
    width: 50%;
}

.button{
    font-size: 16px;
}

.heading
{
    width: 100%;
    margin: 0px;
}
  